* body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}



body {
    overflow: auto;
    font-family: 'Geologica', sans-serif;
}

html {
    scroll-behavior: smooth;
  }

body::-webkit-scrollbar {
    display: none;
}

html, body {
    overflow-x: hidden;
}